n8n/workflows/brevo-email-events.json
{
  "name": "Collecte Données Brevo Email Events",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brevo-webhook",
        "responseMode": "responseNode"
      },
      "id": "webhook-brevo",
      "name": "Webhook Brevo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "brevo-email-events"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "event_type",
              "value": "={{ $json.event }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject || '' }}"
            },
            {
              "name": "campaign_id",
              "value": "={{ $json.campaign_id || '' }}"
            },
            {
              "name": "message_id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "recipient_email",
              "value": "={{ $json.recipient || $json.email }}"
            },
            {
              "name": "tags",
              "value": "={{ JSON.stringify($json.tags || {}) }}"
            },
            {
              "name": "event_date",
              "value": "={{ new Date($json.date || Date.now()).toISOString() }}"
            }
          ]
        }
      },
      "id": "format-data",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "marketing_ops",
        "table": "brevo_email_events",
        "columns": "event_type, email, subject, campaign_id, message_id, recipient_email, tags, event_date",
        "additionalFields": {}
      },
      "id": "postgres-insert",
      "name": "Insert to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'success', message: 'Event processed'}) }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Brevo": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Insert to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to PostgreSQL": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "brevo-email-events-collector"
}
